# Created by https://www.toptal.com/developers/gitignore/api/flask
# Edit at https://www.toptal.com/developers/gitignore?templates=flask

### Flask ###
*.log
*.db
*.pyc
__pycache__
*.DS_Store
my_venv/
project/.coverage
project/htmlcov/