# Created by https://www.toptal.com/developers/gitignore/api/flask
# Edit at https://www.toptal.com/developers/gitignore?templates=flask

### Flask ###
*.db
my_venv/
*.pyc
__pycache__
*.DS_Store
project/_config.py